/* @import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Raleway&display=swap');


@font-face {
      font-family: "rz-regular";
      src: url('/fonts/rz-regular.woff2')format('woff2');
}

@font-face {
      font-family: "Attentive";
      src: url('/fonts/Gilroy-ExtraBold.otf');
}

@font-face {
      font-family: "Supreme";
      src: url('/fonts/futura\ medium\ bt.ttf');
}

@font-face {
      font-family: "UniGlobe";
      src: url('/fonts/die\ nasty.ttf');
}

@font-face {
      font-family: "Travel";
      src: url('/fonts/BebasKai-Regular.otf');
}



* {
      margin: 0;
      padding: 0;
}

/* body, html {
   width: 100%;
   height: 100vh;
   background: #dc143c;

} */

body {
      background: white;
}

/* Navigation */

nav {
      display: flex;
      padding: 3px;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
}

.logo {
     font-family: Poppins;
     font-weight: 800;
     /* color: #dc143c; */
     /* color: #e4143d; */
     color: #ea2340;
     font-size: 35px;
     text-transform: uppercase;
     margin-left: 1.5%;
     /* margin-top: 10px !important; */
     display: inline-block;
}

.logo, ul {
      margin-top: 15px;
}


nav ul {
      float: right;
      list-style: none;
}

nav ul li {
      display: inline-block;
      justify-content: center;
      margin-right: 45px;
      padding-top: 5px;
}

nav ul li:last-child {
      margin-right: 45px;
}

nav ul li a {
      display: inline-block;
      color: #1c1d24;
      text-decoration: none;
      font-size: 18px;
      font-family: 'rz-regular';
      letter-spacing: 1.5px;
      text-transform: uppercase;
      /* font-weight: 500; */
      font-weight: bolder;
}

.underline::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #ea2340;
      transition: width .3s;
      margin-top: 2px;
  }
  
  .underline:hover::after {
      width: 100%;
      transition: width .3s;
  }

/* Main/Front Page Stuff */

.main {
      font-family: 'Raleway';
      padding: 3rem 6.25rem 3rem 6.25rem;
}

header h2 {
      display: inline-block;
      font-size: 80px;
      font-weight: bolder;
}


header p {
      font-size: 25px;
      margin-top: 10px;
}

header a {
      padding-top: 1rem;
      font-size: 60px;
      text-decoration: none;
      color: black;
      float: right;
      margin-left: 30px;
      margin-right: 10px;
      transition: all .5s;
}

.work {
      margin-top: 5rem;
}

.project {
      border-radius: 10px;
      box-sizing: border-box;
      text-align: center;
      box-shadow: 0 0px 2.5px rgba(0,0,0,0.25), 0 7.5px 10px rgba(0,0,0,0.22);
      margin-bottom: 5rem;
}

.project h1 {
      padding-top: 2.5rem;
      font-size: 6rem;
      color: white;
      /* -webkit-text-stroke: 1px black; */
}

.project video {
      margin-top: 2.5rem;
      margin-bottom: 5rem;
      width: 80%;
      box-shadow: 0 0px 2.5px rgba(0,0,0,0.25), 0 7.5px 10px rgba(0,0,0,0.22);
}

header a:hover {
      transform: scale(1.1);
}


/* 
.main {
      font-family: 'Raleway';
}

header {
      margin: 50px 100px 50px 100px;
      font-size: 80px;
}

header h2 {
      display: inline-block;
      font-size: 80px;
      font-weight: bolder;
}

header p {
      font-size: 25px;
      margin-top: 10px;
}

header a {
      padding-top: 1rem;
      font-size: 60px;
      text-decoration: none;
      color: black;
      float: right;
      margin-left: 30px;
      margin-right: 10px;
      transition: all .5s;
}

header a:hover {
      transform: scale(1.1);
} */



/*Media Icons Right Bottom */

.media ul {
      list-style: none;
      position: fixed;
      right: 20px;
      bottom: 0px;
      padding: 10px 10px;
}

.media ul li {
      font-size: 18px;
      margin: 24px 0;
}

.media ul li a {
      text-decoration: none;
      color: black !important;
}

