@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

@font-face {
      font-family: "rz-regular";
      src: url('/fonts/rz-regular.woff2')format('woff2');
}


* {
      margin: 0;
      padding: 0;
}

/* body, html {
   width: 100%;
   height: 100vh;
   background: #dc143c;

} */

body {
      background: white;
}

/* Navigation */

nav {
      display: flex;
      padding: 3px;
      align-items: center;
      justify-content: space-between;
      margin-top: 10px;
}

.logo {
     font-family: Poppins;
     font-weight: bold;
     /* color: #dc143c; */
     /* color: #e4143d; */
     color: #ea2340;
     font-size: 35px;
     text-transform: uppercase;
     margin-left: 1.5%;
     /* margin-top: 10px !important; */
     display: inline-block;
}

.logo, ul {
      margin-top: 15px;
}


nav ul {
      float: right;
      list-style: none;
}

nav ul li {
      display: inline-block;
      justify-content: center;
      margin-right: 45px;
      padding-top: 5px;
}

nav ul li:last-child {
      margin-right: 45px;
}

nav ul li a {
      display: inline-block;
      color: #1c1d24;
      text-decoration: none;
      font-size: 18px;
      font-family: 'rz-regular';
      letter-spacing: 1.5px;
      text-transform: uppercase;
      /* font-weight: 500; */
      font-weight: bolder;
}

.underline::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: #ea2340;
      transition: width .3s;
      margin-top: 2px;
  }
  
  .underline:hover::after {
      width: 100%;
      transition: width .3s;
  }

/* Main/Front Page Stuff */

.intro-words {
      font-family: Poppins;
      font-size: 60px;
      position: absolute;
      top: 15%;
      left: 13%;
}


.intro-words h1 {
      font-weight: 500 !important;
}



.face {
      width: 522px;
      height: 694.8px;
      border-radius: 30px;
      position: absolute;
      right: 13%;
      top: 15%;
      box-shadow: 0 0px 0px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/*Media Icons Right Bottom */

.media ul {
      list-style: none;
      position: fixed;
      right: 20px;
      bottom: 0px;
      padding: 10px 10px;
}

.media ul li {
      font-size: 18px;
      margin: 24px 0;
}

.media ul li a {
      color: black !important;
}





/* 
.rev-block {
     position: absolute;
} */

/* .rev-block span {
     opacity: 0;
     animation: appear-text 0.0001s linear forwards;
     animation-delay: .8s;
}

.rev-block:after {
     content: '';
     top: 0;
     left: 0;
     position: absolute;
     width: 0%;
     height: 100%;
     background: #ffb510;
     animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
     animation-delay: .3s;
}

@keyframes rev-block {

     0% {
          left: 0;
          width: 0%;
     }
     50% {
          left: 0;
          width: 100%;
     }
     100% {
          left: 100%;
          width: 0%;
     }

}

@keyframes appear-text {

     0% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }

}

#onemore {
     top: 51%;
     left: 58%;
}

#onemore span {
     animation-delay: 2s;
}

#onemore.rev-block:after {
     background: #5e239d;
     animation-delay: 1.4s;
}

@media only screen and (max-width: 900px) {
     h1 {
          font-size: 20px;
          padding: 0.4em;
     }
}


.s-one {
      position: absolute;
      width: 1px;
      height: 100vh;
      background: rgba(255, 255, 255, 0.2);
      left: 25%;
      color: white;
}

.s-two {
      position: absolute;
      width: 1px;
      height: 100vh;
      background: rgba(255, 255, 255, 0.2);
      left: 50%;
      color: white;

}

.s-three {
      position: absolute;
      width: 1px;
      height: 100vh;
      background: rgba(255, 255, 255, 0.2);
      left: 75%;
      color: white;

}

.top-bar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
}

.top-bar ul li {
      list-style: none;
      line-height: 46px;
      padding: 16px 32px;
      margin: 0 16px;
}


.one, .two {
      position: absolute;
      background: white;
      width: 30px;
      height: 2px;
      color: white;
}

.two {
      margin-top: 12px;
      color: white;
} */

/*Navigation Section 
*/




/* @media screen and (max-width: 864px) {
      .search{
        visibility: hidden;
      }
      .nav-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #dc143c;
            opacity: 0;
            transition: all 0.2s ease;
      }

      .nav-wrapper ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
      }

      .nav-wrapper ul li {
            display: block;
            float: none;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
      }

      .nav-wrapper ul li:nth-child(1) a {
            transition-delay: 0.2s;
      }

      .nav-wrapper ul li:nth-child(2) a {
            transition-delay: 0.3s;
      }

      .nav-wrapper ul li:nth-child(3) a {
            transition-delay: 0.4s;
      }

      .nav-wrapper ul li:nth-child(4) a {
            transition-delay: 0.5s;
      }

      .nav-wrapper ul li:not(:first-child) {
            margin-left: 0;
      }

      .nav-wrapper ul li a {
            padding: 10px 24px;
            opacity: 0;
            color: white;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1.2px;
            transform: translateX(-20px);
            transition: all 0.2s ease;
      }

      .nav-btn {
            position: fixed;
            right: 10px;
            top: 10px;
            display: block;
            width: 48px;
            height: 48px;
            cursor: pointer;
            z-index: 9999;
            border-radius: 50%;
      }

      .nav-btn i {
            display: block;
            width: 20px;
            height: 2px;
            background: white;
            border-radius: 2px;
            margin-left: 14px;
      }

      .nav-btn i:nth-child(1) {
            margin-top: 16px;
      }

      .nav-btn i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
      }

      .nav-btn i:nth-child(3) {
            margin-top: 4px;
      }
}

#nav:checked + .nav-btn {
      transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
      background: white;
      transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
      transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
      opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
      transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
      z-index: 9990;
      opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
      opacity: 1;
      transform: translateX(0);
}

.hidden {
      display: none;
} */


